:root {
  --BTN-primary-background: var(--primary);
  --BTN-primary-border: var(--primary);
  --BTN-primary-color: var(--text);
  --BTN-primary-hover-background: #677bc4;
  --BTN-primary-active-background: #5b6eae;
  --BTN-primary-outline-active-background: var(--primary-hover);
  --BTN-secondary-background: var(--secondary);
  --BTN-secondary-border: var(--secondary);
  --BTN-secondary-color: var(--text);
  --BTN-secondary-hover-background: #68727f;
  --BTN-secondary-active-background: #5d6671;
  --BTN-secondary-outline-active-background: var(--secondary-hover);
  --BTN-danger-background: var(--danger);
  --BTN-danger-border: var(--danger);
  --BTN-danger-color: var(--text);
  --BTN-danger-hover-background: #d84040;
  --BTN-danger-active-background: #c03939;
  --BTN-danger-outline-active-background: var(--danger-hover);
  --BTN-success-background: var(--success);
  --BTN-success-border: var(--success);
  --BTN-success-color: var(--text);
  --BTN-success-hover-background: #3ca374;
  --BTN-success-active-background: #35976b;
  --BTN-success-outline-active-background: var(--success-hover);
  --BTN-link-background: transparent;
  --BTN-link-border: transparent;
  --BTN-link-color: var(--text);
  --BTN-link-hover-background: transparent;
  --BTN-focus-color: #00b0f4;
  --BTN-focus-radius: 3px;
}

button {
  border: 1px solid var(--BTN-primary-background);
  border-radius: 3px;
  padding: 2px 16px;
  min-width: 60px;
  min-height: 32px;
  cursor: pointer;
  transition: border-color 0.17s ease, background-color 0.17s ease, color 0.17s ease;
}
button:focus {
  outline: none;
}

button.btn-outline {
  background-color: transparent;
}
button.btn-outline:hover {
  background-color: transparent;
}

.btn-primary {
  background-color: var(--BTN-primary-background);
  border-color: var(--BTN-primary-border);
  color: var(--BTN-primary-color);
}
.btn-primary:hover {
  background-color: var(--BTN-primary-hover-background);
  border-color: var(--BTN-primary-hover-background);
}
.btn-primary:active {
  background-color: var(--BTN-primary-active-background);
  border-color: var(--BTN-primary-active-background);
}

.btn-primary.btn-outline {
  color: var(--BTN-primary-background);
}
.btn-primary.btn-outline:active {
  background-color: var(--BTN-primary-outline-active-background) !important;
}

.btn-secondary {
  background: var(--BTN-secondary-background);
  border-color: var(--BTN-secondary-border);
  color: var(--BTN-secondary-color);
}
.btn-secondary:hover {
  background-color: var(--BTN-secondary-hover-background);
  border-color: var(--BTN-secondary-hover-background);
}
.btn-secondary:active {
  background-color: var(--BTN-secondary-active-background);
  border-color: var(--BTN-secondary-active-background);
}

.btn-secondary.btn-outline {
  color: var(--BTN-secondary-background);
}
.btn-secondary.btn-outline:active {
  background-color: var(--BTN-secondary-outline-active-background) !important;
}

.btn-danger {
  background: var(--BTN-danger-background);
  border-color: var(--BTN-danger-border);
  color: var(--BTN-danger-color);
}
.btn-danger:hover {
  background-color: var(--BTN-danger-hover-background);
  border-color: var(--BTN-danger-hover-background);
}
.btn-danger:active {
  background-color: var(--BTN-danger-active-background);
  border-color: var(--BTN-danger-active-background);
}

.btn-danger.btn-outline {
  color: var(--BTN-danger-background);
}
.btn-danger.btn-outline:active {
  background-color: var(--BTN-danger-outline-active-background) !important;
}

.btn-success {
  background: var(--BTN-success-background);
  border-color: var(--BTN-success-border);
  color: var(--BTN-success-color);
}
.btn-success:hover {
  background-color: var(--BTN-success-hover-background);
  border-color: var(--BTN-success-hover-background);
}
.btn-success:active {
  background-color: var(--BTN-success-active-background);
  border-color: var(--BTN-success-active-background);
}

.btn-success.btn-outline {
  color: var(--BTN-success-background);
}
.btn-success.btn-outline:active {
  background-color: var(--BTN-success-outline-active-background) !important;
}

.btn-link {
  background: var(--BTN-link-background);
  border-color: var(--BTN-link-border);
  color: var(--BTN-link-color);
}
.btn-link:hover {
  background-color: var(--BTN-link-hover-background);
  text-decoration: underline;
}

/*# sourceMappingURL=button.css.map */
