:root {
	// Primary btn
	--BTN-primary-background: var(--primary);
	--BTN-primary-border: var(--primary);
	--BTN-primary-color: var(--text);
	--BTN-primary-hover-background: #677bc4;
	--BTN-primary-active-background: #5b6eae;
	--BTN-primary-outline-active-background: var(--primary-hover);
	// secondary btn
	--BTN-secondary-background: var(--secondary);
	--BTN-secondary-border: var(--secondary);
	--BTN-secondary-color: var(--text);
	--BTN-secondary-hover-background: #68727f;
	--BTN-secondary-active-background: #5d6671;
	--BTN-secondary-outline-active-background: var(--secondary-hover);
	// danger btn
	--BTN-danger-background: var(--danger);
	--BTN-danger-border: var(--danger);
	--BTN-danger-color: var(--text);
	--BTN-danger-hover-background: #d84040;
	--BTN-danger-active-background: #c03939;
	--BTN-danger-outline-active-background: var(--danger-hover);
	// success btn
	--BTN-success-background: var(--success);
	--BTN-success-border: var(--success);
	--BTN-success-color: var(--text);
	--BTN-success-hover-background: #3ca374;
	--BTN-success-active-background: #35976b;
	--BTN-success-outline-active-background: var(--success-hover);
	// Link btn
	--BTN-link-background: transparent;
	--BTN-link-border: transparent;
	--BTN-link-color: var(--text);
	--BTN-link-hover-background: transparent;
	--BTN-focus-color: #00b0f4;
	--BTN-focus-radius: 3px;
}

.btn {
	border: 1px solid transparent;
	border-radius: 3px;
	padding: 2px 16px;
	min-width: 60px;
	min-height: 32px;
	cursor: pointer;
	transition: border-color 0.17s ease, background-color 0.17s ease, color 0.17s ease;

	&:focus {
		outline: none;
		// TODO: Nur wenn mit `tab` getabt wird:
		// TODO: padding zwischen outline und box
		// box-shadow anstatt outline -> runde outline box
		// box-shadow: 0px 0px 0px var(--BTN-focus-radius) var(--BTN-focus-color);
	}

	&.outline {
		background-color: transparent;

		&:hover {
			background-color: transparent;
		}
	}

	&.primary {
		background-color: var(--BTN-primary-background);
		border-color: var(--BTN-primary-border);
		color: var(--BTN-primary-color);

		&:hover {
			background-color: var(--BTN-primary-hover-background);
			border-color: var(--BTN-primary-hover-background);
		}

		&:active {
			background-color: var(--BTN-primary-active-background);
			border-color: var(--BTN-primary-active-background);
		}

		&.outline {
			color: var(--BTN-primary-background);

			&:active {
				background-color: var(--BTN-primary-outline-active-background) !important;
			}
		}
	}

	&.secondary {
		background: var(--BTN-secondary-background);
		border-color: var(--BTN-secondary-border);
		color: var(--BTN-secondary-color);

		&:hover {
			background-color: var(--BTN-secondary-hover-background);
			border-color: var(--BTN-secondary-hover-background);
		}

		&:active {
			background-color: var(--BTN-secondary-active-background);
			border-color: var(--BTN-secondary-active-background);
		}

		&.outline {
			color: var(--BTN-secondary-background);

			&:active {
				background-color: var(--BTN-secondary-outline-active-background) !important;
			}
		}
	}

	&.danger {
		background: var(--BTN-danger-background);
		border-color: var(--BTN-danger-border);
		color: var(--BTN-danger-color);

		&:hover {
			background-color: var(--BTN-danger-hover-background);
			border-color: var(--BTN-danger-hover-background);
		}

		&:active {
			background-color: var(--BTN-danger-active-background);
			border-color: var(--BTN-danger-active-background);
		}

		&.outline {
			color: var(--BTN-danger-background);

			&:active {
				background-color: var(--BTN-danger-outline-active-background) !important;
			}
		}
	}

	&.success {
		background: var(--BTN-success-background);
		border-color: var(--BTN-success-border);
		color: var(--BTN-success-color);

		&:hover {
			background-color: var(--BTN-success-hover-background);
			border-color: var(--BTN-success-hover-background);
		}

		&:active {
			background-color: var(--BTN-success-active-background);
			border-color: var(--BTN-success-active-background);
		}

		&.outline {
			color: var(--BTN-success-background);

			&:active {
				background-color: var(--BTN-success-outline-active-background) !important;
			}
		}
	}

	&.link {
		background: var(--BTN-link-background);
		border-color: var(--BTN-link-border);
		color: var(--BTN-link-color);

		&:hover {
			background-color: var(--BTN-link-hover-background);
			text-decoration: underline;
		}
	}

	&.outline {
		background-color: initial;
		&:hover {
			background-color: initial;
		}
	}
}
