:root {
	// Primary btn
	--BTN-primary-background: #7289da;
	--BTN-primary-border: #7289da;
	--BTN-primary-color: #ffffff;
	--BTN-primary-hover-background: #677bc4;
	--BTN-primary-active-background: #5b6eae;
	--BTN-primary-outline-active-background: rgb(103, 123, 196, 0.1);
	// Grey btn
	--BTN-grey-background: #747f8d;
	--BTN-grey-border: #747f8d;
	--BTN-grey-color: #ffffff;
	--BTN-grey-hover-background: #68727f;
	--BTN-grey-active-background: #5d6671;
	--BTN-grey-outline-active-background: rgb(104, 114, 127, 0.1);
	// Red btn
	--BTN-red-background: #f04747;
	--BTN-red-border: #f04747;
	--BTN-red-color: #ffffff;
	--BTN-red-hover-background: #d84040;
	--BTN-red-active-background: #c03939;
	--BTN-red-outline-active-background: rgb(240, 71, 71, 0.1);
	// Green btn
	--BTN-green-background: #43b581;
	--BTN-green-border: #43b581;
	--BTN-green-color: #ffffff;
	--BTN-green-hover-background: #3ca374;
	--BTN-green-active-background: #35976b;
	--BTN-green-outline-active-background: rgb(67, 181, 129, 0.1);
	// Link btn
	--BTN-link-background: transparent;
	--BTN-link-border: transparent;
	--BTN-link-color: #ffffff;
	--BTN-link-hover-background: transparent;
	--BTN-focus-color: #00b0f4;
	--BTN-focus-radius: 3px;
}

button {
	border: 1px solid var(--BTN-primary-background);
	border-radius: 3px;
	padding: 2px 16px;
	min-width: 60px;
	min-height: 32px;
	cursor: pointer;
	transition: border-color 0.17s ease, background-color 0.17s ease, color 0.17s ease;

	&:focus {
		outline: none;
		// TODO: Nur wenn mit `tab` getabt wird:
		// TODO: padding zwischen outline und box
		// box-shadow anstatt outline -> runde outline box
		// box-shadow: 0px 0px 0px var(--BTN-focus-radius) var(--BTN-focus-color);
	}
}

.btn-outline {
	background-color: transparent !important;

	&:hover {
		background-color: transparent;
	}
}

.btn-primary {
	background-color: var(--BTN-primary-background);
	border-color: var(--BTN-primary-border);
	color: var(--BTN-primary-color);

	&:hover {
		background-color: var(--BTN-primary-hover-background);
		border-color: var(--BTN-primary-hover-background);
	}

	&:active {
		background-color: var(--BTN-primary-active-background);
		border-color: var(--BTN-primary-active-background);
	}
}

.btn-primary.btn-outline {
	color: var(--BTN-primary-background);

	&:active {
		background-color: var(--BTN-primary-outline-active-background) !important;
	}
}

.btn-grey {
	background: var(--BTN-grey-background);
	border-color: var(--BTN-grey-border);
	color: var(--BTN-grey-color);

	&:hover {
		background-color: var(--BTN-grey-hover-background);
		border-color: var(--BTN-grey-hover-background);
	}

	&:active {
		background-color: var(--BTN-grey-active-background);
		border-color: var(--BTN-grey-active-background);
	}
}

.btn-grey.btn-outline {
	color: var(--BTN-grey-background);

	&:active {
		background-color: var(--BTN-grey-outline-active-background) !important;
	}
}

.btn-red {
	background: var(--BTN-red-background);
	border-color: var(--BTN-red-border);
	color: var(--BTN-red-color);

	&:hover {
		background-color: var(--BTN-red-hover-background);
		border-color: var(--BTN-red-hover-background);
	}

	&:active {
		background-color: var(--BTN-red-active-background);
		border-color: var(--BTN-red-active-background);
	}
}

.btn-red.btn-outline {
	color: var(--BTN-red-background);

	&:active {
		background-color: var(--BTN-red-outline-active-background) !important;
	}
}

.btn-green {
	background: var(--BTN-green-background);
	border-color: var(--BTN-green-border);
	color: var(--BTN-green-color);

	&:hover {
		background-color: var(--BTN-green-hover-background);
		border-color: var(--BTN-green-hover-background);
	}

	&:active {
		background-color: var(--BTN-green-active-background);
		border-color: var(--BTN-green-active-background);
	}
}

.btn-green.btn-outline {
	color: var(--BTN-green-background);

	&:active {
		background-color: var(--BTN-green-outline-active-background) !important;
	}
}

.btn-link {
	background: var(--BTN-link-background);
	border-color: var(--BTN-link-border);
	color: var(--BTN-link-color);

	&:hover {
		background-color: var(--BTN-link-hover-background);
		text-decoration: underline;
	}
}
