$primary: #7289da;
$secondary: #747f8d;
$success: #43b581;
$danger: #f04747;

:root {
	--primary: #{$primary};
	--primary-shade: #5c6fb1;
	--primary-hover: #{rgba($primary, 0.1)};
	--primary-active: #4e5d94;
	--secondary: #{$secondary};
	--secondary-hover: #{rgba($secondary, 0.1)};
	--success: #{$success};
	--success-hover: #{rgba($success, 0.1)};
	--danger: #{$danger};
	--danger-hover: #{rgba($danger, 0.1)};
	--text: #ffffff;
	--background-primary: #36393f;
	--background-secondary: #2f3136;
	--background-tertiary: #202225;
	--background-shade: #4f545c;
	--background-floating: #18191c;
	--interactive: #b9bbbe;
	--interactive-active: var(--text);
	--interactive-hover: #dcddde;
}

.disabled,
*:disabled {
	cursor: not-allowed;
	opacity: 0.3;
}

.noselect,
.item {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	user-select: none;
}

.visibleOnHover {
	opacity: 0;

	&:hover {
		opacity: 1;
	}
}
