:root {
	--background: var(--background-tertiary);
	--pill: var(--text);
}

.guild-container {
	display: flex;
	flex-direction: column;
	background-color: var(--background);
}
.guild {
	margin: 0.25rem;
	& {
		border-radius: 50%;
	}
	&.unread {
	}
	&.active {
		border-radius: 25%;
	}
}
