:root {
	--background: var(--background-tertiary);
	--sec: var(--background-primary);
	--pill: var(--text);
}

.guild-container {
	display: flex;
	flex-direction: column;
	background-color: var(--background);
	padding-top: 0.5rem;
}
.guild {
	display: flex;
	margin-right: 0.6rem;
	align-items: center;
	margin-bottom: 0.5rem;
	cursor: pointer;
	&.unread > .pill {
		background-color: var(--pill);
		height: 0.6rem;
		width: 0.25rem;
	}
	&.active {
		border-radius: 25%;
	}
	& > img {
		width: 48px;
		height: 48px;
		border-radius: 50%;
	}
	&.active > img {
		border-radius: 35%;
	}
	&.active > .pill {
		height: 2.5rem;
		width: 0.25rem;
		background-color: var(--pill);
	}
	&.home > a {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background-color: var(--sec);
	}
	&.seperator {
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&.seperator > hr {
		margin: 0;
		padding: 0;
		margin-bottom: 0.5rem;
		width: 40%;
		border: none;
		border-bottom: 2px solid var(--sec);
	}
}

.pill {
	height: 0.6rem;
	width: 0.25rem;
	background-color: transparent;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	margin-right: 0.3rem;
}
