:root {
	--ICON-color: #b9bbbe;
}

i.fa {
	background-color: currentColor;

	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	mask-repeat: no-repeat;
	mask-position: center;
}

i {
	color: var(--ICON-color);
	display: inline-block;

	path {
		fill: currentColor;
	}

	&.size-half {
		width: 15px;
		height: 15px;
	}

	&.size-1,
	& {
		width: 25px;
		height: 25px;
	}

	&.size-2 {
		width: 50px;
		height: 50px;
	}

	&.size-3 {
		width: 75px;
		height: 75px;
	}
}

.settings-solid {
	-webkit-mask-image: url(../icons/solid/cog.svg);
	mask-image: url(../icons/solid/cog.svg);
}

.voice-chat {
	-webkit-mask-image: url(../icons/solid/volume-up.svg);
	mask-image: url(../icons/solid/volume-up.svg);
}

.chevron-down {
	-webkit-mask-image: url(../icons/solid/chevron-down.svg);
	mask-image: url(../icons/solid/chevron-down.svg);
}
