.single-input {
	background-color: rgba(0, 0, 0, 0.1);
	border-color: rgba(0, 0, 0, 0.3);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	color: rgb(220, 221, 222);
	display: block;
	font-size: 16px;
	font-stretch: 100%;
	font-style: normal;
	font-weight: 400;
	height: 40px;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-style: none;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	text-align: start;
	text-shadow: none;
	text-transform: none;
	user-select: none;
	width: 600px;
	word-spacing: 0px;
	writing-mode: horizontal-tb;
	transition: border-color .2s ease-in-out;

	&:focus {
		border-color: rgb(114, 137, 218);
	}

}

.textarea-input {
	background-color: rgba(0, 0, 0, 0.1);
	border-color: rgba(0, 0, 0, 0.3);
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-style: solid;
	border-top-width: 1px;
	box-sizing: border-box;
	color: rgb(220, 221, 222);
	cursor: text;
	display: inline-block;
	flex-direction: column;
	font-family: sans-serif;
	font-size: 16px;
	font-stretch: 100%;
	font-style: normal;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	font-variant-numeric: normal;
	font-weight: 400;
	height: 84.4px;
	letter-spacing: normal;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	outline-color: rgb(220, 221, 222);
	outline-style: none;
	outline-width: 0px;
	overflow-wrap: break-word;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 31.69px;
	padding-top: 10px;
	resize: none;
	text-align: start;
	text-indent: 0px;
	text-rendering: optimizelegibility;
	text-shadow: none;
	text-transform: none;
	transition-delay: 0s;
	transition-duration: 0.2s;
	transition-property: border-color;
	transition-timing-function: ease-in-out;
	user-select: none;
	white-space: pre-wrap;
	width: 602.6px;
	word-spacing: 0px;
	writing-mode: horizontal-tb;
	-webkit-appearance: none;
	-webkit-box-direction: normal;

	&:focus {
		border-color: rgb(114, 137, 218);
	}
}