:root {
	--LIST-separator-color: #ffffff0f;
	--LIST-primary-color: var(--primary);
	--LIST-primary-hover-color: var(--primary-hover);
	--LIST-primary-active-color: var(--primary-active);
	--LIST-success-color: var(--success);
	--LIST-success-hover-color: var(--success-hover);
	--LIST-danger-color: var(--danger);
	--LIST-danger-hover-color: var(--danger-hover);
	--LIST-background-accent: var(--background-tertiary);
	--LIST-selected-color: #fff;
}

.list {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding-left: 0;
	margin: 0;
	border-radius: 4px;

	.separator {
		margin: 8px 10px;
		height: 1px;
		background-color: var(--LIST-separator-color);
	}

	&.accent {
		background-color: var(--LIST-background-accent);
		padding: 6px 8px;

		.item {
			&:hover,
			&.hover {
				color: var(--LIST-selected-color);
				background-color: var(--LIST-primary-color);
			}

			&:active,
			&.active {
				background-color: var(--LIST-primary-active-color);
			}
		}
	}

	&.collapsed {
		.title {
			i {
				transform: rotate(-90deg);
			}
		}

		.item,
		.title:not(.collapse),
		.separator {
			display: none;
		}
	}

	.title {
		padding-top: 0;

		i {
			margin-left: -13px;
			color: inherit;
			width: 10px;
			height: 10px;
			transition: transform 0.2s ease;
		}
	}
}

.list .item,
.list-item,
.list .title {
	padding: 6px 10px;
}

.list .item,
.list-item {
	margin-bottom: 2px;
	border-radius: 3px;
	cursor: pointer;
	color: var(--interactive);
	display: flex;
	align-items: center;
	justify-content: space-between;

	i {
		height: 15px;
		width: 15px;

		&.left {
			margin-right: 6px;
		}

		&.right {
			margin-left: 6px;
			height: 12px;
			width: 12px;
		}
	}

	.content {
		flex-grow: 1;
	}

	&:hover {
		background-color: #4f545c29;
		color: var(--interactive-hover);

		.visibleOnHover {
			opacity: 1;
		}
	}

	&:active,
	&.active {
		background-color: #4f545c52;
		color: var(--interactive-active);
	}

	&.primary {
		color: var(--LIST-primary-color);

		&:hover {
			background-color: var(--LIST-primary-hover-color);
		}

		&:active,
		&.active {
			color: var(--LIST-selected-color);
			background-color: var(--LIST-primary-color);
		}
	}

	&.danger {
		color: var(--LIST-danger-color);

		&:hover {
			background-color: var(--LIST-danger-hover-color);
		}

		&:active,
		&.active {
			color: var(--LIST-selected-color);
			background-color: var(--LIST-danger-color);
		}
	}

	&.success {
		color: var(--LIST-success-color);

		&:hover {
			background-color: var(--LIST-success-hover-color);
		}

		&:active,
		&.active {
			color: var(--LIST-selected-color);
			background-color: var(--LIST-success-color);
		}
	}
}
