:root {
	--switch-red: var(--danger);
	--switch-green: var(--success);

	--two-state-switch-active: var(--switch-green);
	--two-state-switch-inactive: var(--background-inactive);

	--three-state-background: var(--background-primary);
	--three-state-border: var(--background-tertiary);
	--three-state-active: var(--background-active);
}

.three-state-switch {
	display: flex;
	border: 0.1rem solid var(--three-state-border);
	border-radius: 0.25rem;
	& > .switch {
		width: 100%;
		height: 100%;
		padding: 0.5rem;
		&.left {
			border-right: 0.1rem solid var(--three-state-border);
		}
		&.middle {
			content: "";
		}
		&.right {
			border-left: 0.1rem solid var(--three-state-border);
		}
	}
}
